Repository Mrdwan/Wealth-Ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cdk-synth, pytest-docker

mypy:
  name: mypy
  entry: poetry run mypy
  language: system
  require_serial: true

cdk-synth:
  name: CDK Synth Check
  entry: bash -c 'cd infra && poetry run cdk synth --quiet'
  language: system
  pass_filenames: false

pytest-docker:
  name: Pytest (Docker)
  entry: docker compose --profile test run --rm --build test pytest -v --tb=short
  language: system
  pass_filenames: false
  stages:
  - pre-commit

chore: Update dependencies, improve dev container setup, add type ignores, and update documentation.
  .agent/rules/00-constitution.md
  .agent/rules/10-stack-aws.md
  .agent/rules/20-code-standards.md
  .devcontainer/devcontainer.json
  .dockerignore
  .gitignore
  .pre-commit-config.yaml
  README.md
  docs/ARCHITECTURE.md
  docs/CHANGELOG.md
  docs/ROADMAP.md
  infra/app.py
  infra/cdk.json
  infra/stacks/compute_stack.py
  infra/stacks/foundation_stack.py
  poetry.lock
  prompts/builder.md
  pyproject.toml
  src/lambdas/data_ingestion.py
  src/lambdas/market_pulse.py
  src/modules/data/manager.py
  src/modules/data/providers/yahoo.py
  src/modules/notifications/telegram.py
  src/modules/regime/filter.py
  src/shared/logger.py
  tests/test_data_manager.py
  tests/test_lambdas/test_handlers.py
  tests/test_regime_filter.py
  tests/test_telegram.py
  tests/test_tiingo.py
Due: mypy, cdk-synth, pytest-docker

feat: Add comprehensive tests for configuration loader, data manager, Telegram notifier, and Tiingo provider, including error handling and edge cases
  .claude/settings.local.json
  Dockerfile.test
  Pipfile
  pyproject.toml
  tests/test_config.py
  tests/test_data_manager.py
  tests/test_lambdas/test_handlers.py
  tests/test_logger.py
  tests/test_regime_filter.py
  tests/test_telegram.py
  tests/test_tiingo.py
Due: mypy, pytest-docker

feat: Expand Phase 2 roadmap with detailed feature engineering steps for multi-asset profiles, including asset schema, technical features, and market data ingestion
  docs/ARCHITECTURE.md
  docs/ROADMAP.md
Due: none

feat: Implement a new features module with an engine and various technical indicators, and update architecture documentation to v3.0.
  .claude/settings.local.json
  docs/ARCHITECTURE.md
  docs/CHANGELOG.md
  docs/PHILOSOPHY.md
  docs/ROADMAP.md
  src/modules/features/__init__.py
  src/modules/features/engine.py
  src/modules/features/indicators/__init__.py
  src/modules/features/indicators/candle.py
  src/modules/features/indicators/momentum.py
  src/modules/features/indicators/price.py
  src/modules/features/indicators/trend.py
  src/modules/features/indicators/volatility.py
  src/modules/features/indicators/volume.py
  tests/test_features/__init__.py
  tests/test_features/conftest.py
  tests/test_features/test_engine.py
  tests/test_features/test_indicators.py
Due: mypy, pytest-docker

feat: Introduce asset profiles for dynamic data ingestion, add FRED and Tiingo Forex providers, implement Relative Strength indicator, and integrate Telegram command handlers.
  .claude/settings.local.json
  docs/CHANGELOG.md
  docs/ROADMAP.md
  scripts/seed_profiles.py
  src/lambdas/data_ingestion.py
  src/lambdas/telegram_webhook.py
  src/modules/data/macro_manager.py
  src/modules/data/manager.py
  src/modules/data/protocols.py
  src/modules/data/providers/fred.py
  src/modules/data/providers/tiingo_forex.py
  src/modules/features/engine.py
  src/modules/features/indicators/__init__.py
  src/modules/features/indicators/relative_strength.py
  src/modules/notifications/commands.py
  src/modules/notifications/telegram.py
  src/shared/config.py
  src/shared/profiles.py
  tests/test_commands.py
  tests/test_data_manager.py
  tests/test_features/test_engine.py
  tests/test_fred.py
  tests/test_lambdas/test_handlers.py
  tests/test_macro_manager.py
  tests/test_profiles.py
  tests/test_regime_filter.py
  tests/test_telegram.py
  tests/test_telegram_webhook.py
  tests/test_tiingo_forex.py
Due: mypy, pytest-docker

feat: Implement Momentum Composite Score with 6-component z-score-weighted signal, fix NaN guard bugs, and achieve 100% branch test coverage.
  .agent/rules/20-code-standards.md
  .agent/workflows/run-tests.md
  docs/CHANGELOG.md
  docs/ROADMAP.md
  scripts/run-tests-docker.sh
  src/modules/signals/__init__.py
  src/modules/signals/components.py
  src/modules/signals/momentum_composite.py
  tests/test_commands.py
  tests/test_macro_manager.py
  tests/test_signals/__init__.py
  tests/test_signals/conftest.py
  tests/test_signals/test_components.py
  tests/test_signals/test_momentum_composite.py
  tests/test_telegram.py
Due: mypy, pytest-docker

feat: Introduce signal card generation and trap order calculation, enabling Telegram delivery of momentum signals.
  docs/CHANGELOG.md
  docs/ROADMAP.md
  src/modules/notifications/telegram.py
  src/modules/signals/__init__.py
  src/modules/signals/signal_card.py
  src/modules/signals/trap_order.py
  tests/test_signals/test_signal_card.py
  tests/test_signals/test_trap_order.py
  tests/test_telegram.py
Due: mypy, pytest-docker

feat: add market context data integration (VIX, SPY, DXY) and a staleness guard for market data.
  docs/CHANGELOG.md
  docs/ROADMAP.md
  src/modules/signals/__init__.py
  src/modules/signals/market_context.py
  src/modules/signals/staleness_guard.py
  tests/test_signals/test_market_context.py
  tests/test_signals/test_staleness_guard.py
Due: mypy, pytest-docker

feat: Introduce earnings calendar integration with a new Tiingo provider and manager, updating project documentation and roadmap.
  README.md
  docs/CHANGELOG.md
  docs/ROADMAP.md
  src/modules/data/earnings_manager.py
  src/modules/data/protocols.py
  src/modules/data/providers/tiingo_earnings.py
  tests/test_earnings_manager.py
  tests/test_tiingo_earnings.py
Due: mypy, pytest-docker

feat: implement economic calendar integration with `EconomicCalendarProvider` protocol, `FedCalendarProvider` for FOMC/NFP/CPI dates, and `EconomicCalendarManager`.
  README.md
  docs/CHANGELOG.md
  docs/ROADMAP.md
  src/modules/data/economic_calendar_manager.py
  src/modules/data/protocols.py
  src/modules/data/providers/fed_calendar_provider.py
  tests/test_economic_calendar_manager.py
  tests/test_fed_calendar_provider.py
Due: mypy, pytest-docker

refactor: Consolidate agent rules and prompts, and update architecture and roadmap with refined backtesting and risk management details.
  .agent/rules/00-constitution.md
  .agent/rules/10-stack-aws.md
  .agent/rules/20-code-standards.md
  CLAUDE.md
  docs/ARCHITECTURE.md
  docs/ROADMAP.md
  prompts/architect.md
  prompts/builder.md
Due: none

feat: Implement walk-forward backtesting framework and execution simulator with supporting types and tests.
  CLAUDE.md
  docs/ROADMAP.md
  src/modules/backtest/engine.py
  src/modules/backtest/splitter.py
  src/modules/backtest/types.py
  tests/modules/backtest/test_engine.py
  tests/modules/backtest/test_splitter.py
  tests/modules/backtest/test_types_coverage.py
  tests/test_profiles_coverage.py
Due: mypy, pytest-docker

feat: Implement a new training module with data preparation, pipeline, trainer, configuration types, and tests, along with updated dependencies.
  models_manual/SPY/2026-02-16/metadata.json
  poetry.lock
  pyproject.toml
  scripts/train_spy.py
  src/modules/training/data_prep.py
  src/modules/training/pipeline.py
  src/modules/training/trainer.py
  src/modules/training/types.py
  tests/modules/training/test_data_prep.py
  tests/modules/training/test_pipeline.py
  tests/modules/training/test_trainer.py
Due: mypy, pytest-docker

feat: Introduce hyperparameter tuning functionality using `HyperparameterTuner` and Optuna, alongside a dedicated tuning script and updated documentation.
  README.md
  docs/ROADMAP.md
  poetry.lock
  pyproject.toml
  scripts/tune_spy.py
  src/modules/training/tuner.py
  src/modules/training/types.py
  tests/modules/training/test_tuner.py
Due: mypy, pytest-docker

Path conditions:
  mypy: any of: \.py$
  cdk-synth: any of: ^infra/
  pytest-docker: any of: \.(py)$
